.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 2em 0.4em 2em;
  background-color: #171717;
}

#heading {
  font-size: 2em;
  color: rgb(0, 255, 200);
  text-align: center;
  font-size: 1.2em;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  outline: none;
  color: white;
  background-color: #171717;
  border: none;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: rgb(0, 255, 200);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: rgb(0, 255, 200);
}
.form .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2.5em;
}
.button1 {
  padding: 0.5em;
  padding-left: 1.1em;
  padding-right: 1.1em;
  border-radius: 5px;
  /* margin-right: 0.5em; */
  border: none;
  outline: none;
  transition: 0.4 ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: black;
}
.button1:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
  cursor: pointer;
}

.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  /* margin-right: 0.5em; */
  border: none;
  outline: none;
  transition: 0.4 ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: black;
}

.button2:hover {
  background-image: linear-gradient(163deg, #00642f 0%, #13034b 100%);
  color: rgb(0, 255, 200);
  cursor: pointer;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: 0.4 ease-in-out;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  color: black;
}

.button3:hover {
  background-image: linear-gradient(163deg, #a00000fa 0%, #d10050 100%);
  color: white;
  cursor: pointer;
}

.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  transition: all 0.3s;
}
.card2 {
  border-radius: 0;
  transition: all 0.2s;
}
